{% extends 'index.html' %}

{% block body %}
  <h5><a style="text-align:right;" href="/">logout</a></h5>
  
  <h3>There are {{day_tasks}} tasks due today<h3>
  <font color="red"><h3>{{over_tasks}} tasks overdue</h3></font>
  <table class="table table-dark table-hover">
  <thead>
    <tr>
      <th scope="col">Task</th>
      <th scope="col">Due On</th>
      <th scope="col">Status</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for tid, name, due, status in tasks %}
    <tr>
      <td>{{name}}</td>
      <td>{{due}}</td>
      {% if "Overdue" in status %}
      <td><font color="red">{{status}}</font></td>
      {% else %}
      <td>{{status}}</td>
      {% endif %}
      <td><a class="btn btn-primary" href="{{url_for('todo.task_details', uid=id, tid=tid)}}">View Task</a></td>
      <td><a class="btn btn-danger" href="{{url_for('todo.del_task', uid=id, tid=tid)}}">Delete Task</a></td>
    </tr>
    {% endfor %}
    <a class="btn btn-primary" href={{url_for('todo.add_task',uid=id)}}>AddTask</a>

{% endblock %} 
    
