{% extends "index.html" %}

{% block body %}
    
    <a href="/">Home</a>
    <p>
      <form action="{{url_for('todo.user_register')}}" method="POST">
          <div class="mb-3 row">
              <label for="mailid" class="col-sm-2 col-form-label">Email address</label>
              <div class="col-sm-10">
                  <input type="text" class="form-control" id="mailid" placeholder="name@gmail.com" name="mailid" required>
              </div>
          </div>
          <div class="mb-3 row">
              <label for="name" class="col-sm-2 col-form-label">Name</label>
              <div class="col-sm-10">
                  <input type="text" class="form-control" id="name" placeholder="first name and last name" name="name" required>
              </div>
          </div>
          <div class="mb-3 row">
              <label for="pwd" class="col-sm-2 col-form-label">Set a password</label>
              <div class="col-sm-10">
                  <input type="password" class="form-control" id="pwd" name="pwd" required>
              </div>
          </div>
          <div class="mb-3">
              <button type="submit" class="btn btn-primary">register</button>
          </div>
      </form>
    </p>
{% endblock %}    
      


